<div class="container">
    <div class="row main_Card">
        <div class="col-md-12">
            <mat-card>
                <div class="row p-0">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Favorite food</mat-label>
                            <input matInput placeholder="Ex. Pizza" value="Sushi">
                          </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Favorite food</mat-label>
                            <input matInput placeholder="Ex. Pizza" value="Sushi">
                          </mat-form-field>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>